:root {
   --main-font-family: "Actor", "Arial", sans-serif;
   --main-font-weight: 400;
   --main-bg-color: #F5F8F9;
   --main-member-color: #C7C7C7;
}

@font-face {
   font-family: "Actor";
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/actor-v17-latin-regular.woff2") format("woff2"), 
   url("../fonts/actor-v17-latin-regular.woff") format("woff"); 
 }

* {
   box-sizing: border-box;
}

body{
   margin: 0;
   font-family: var(--main-font-family);
   font-weight: var(--main-font-weight);
}

.free {
   background: #F2F2F2;
   padding: 77px 60px;
}

.free-box {
   width: 681px;
   display: flex;
   margin: 0 auto;
}

.free-start {
   display: block;
   width: 377px;
   background: #FFD500;
   border-radius: 21px 0px 0px 21px;
   padding-top: 80px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 60px;
}

.free-img {
   display: block;
   width: 120px;
   height: 120px;
   margin: 0 auto;
   margin-bottom: 60px;
}

.free-title {
   font-size: 24px;
   line-height: 20px;
   text-align: center;
   color: #383838;
   margin-bottom: 10px;
}

.free-text {
   font-size: 14px;
   line-height: 14px;
   text-align: center;
   color: #383838;
   margin-bottom: 40px;
}

.free-link {
   display: flex;
   align-items: center;
   width: 35px;
   height: 35px;
   background: #383838;
   border-radius: 50%;
   margin: 0 auto;
}

.free-img2 {
   display: block;
   width: 8px;
   height: 14px;
   margin: 0 auto;
}

.free-end {
   width: 604px;
   background: #FFFFFF;
   border-radius: 0 21px 21px 0;
   padding: 54px 75px;
}
.free-form {
   width: 300px;
   margin: 0 auto;
}

.free-lbl {
   display: flex;
   align-items: center;
   font-size: 12px;
   line-height: 9px;
   color: #373D40;
   margin-bottom: 20px;
}

.form-wrap {
   display: flex;
   align-items: center;
   font-size: 12px;
   line-height: 9px;
   color: #B1BFCD;
   margin-bottom: 20px;
}

.wrap-lbl {
   display: flex;
   align-items: center;
}

.lbl-text {
   font-size: 12px;
   line-height: 9px;
   color: #373D40;
}

.free-inp {
   width: 190px;
   background: #F5F8F9;
   border-radius: 5px;
   border: none;
   font-size: 12px;
   line-height: 9px;
   color: #373D40;
   padding: 8px 10px;
   margin-left: 37px;
}

.free-lbl:nth-child(7) {
  display: flex;
  align-items: center;
}

.lbl-text{
  margin-right: 30px;
}

.free-inp::placeholder {
   font-size: 12px;
   line-height: 9px;
   color: #B1BFCD;
}

.form-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #F5F8F9;
  padding: 6px 8px;
  margin-right: 11px;
  margin-left: 11px;
}

.span-img{
  width: 11px;
  height: 15px;

}

.free-inp2r:checked ~ .form-img {
  background-color: #FFD500;
}

.free-inp2 {
  display: none;
}

.member-inp {
  display: flex;
  align-items: center;
}

.free-inp2:checked ~ .member-span {
  background-color: #FFD500;
}

.member-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #C7C7C7;
  margin-right: 8px;
  margin-left: 8px;
  padding: 9px 7px;
}

.member-img {
  width: 12px;
  height: 8px;
}

.btn-box {
   display: flex;
   justify-content: center;
   align-items: center;
}

.free-btn {
   background: #F5F8F9;
   border-radius: 2px;
   border: none;
   font-size: 8px;
   line-height: 9px;
   color: #373D40;
   margin-top: 40px;
   padding: 10px 30px;
   margin-right: 10px;
}

.free-btn2 {
   background: #60E6C5;
   border-radius: 2px;
   border: none;
   font-size: 8px;
   line-height: 9px;
   color: #fff;
   margin-top: 40px;
   padding: 10px 30px;
}